#intro {
    background-color: lightskyblue;
    height: 80vh;
    margin-bottom: 30px;
}

#main {
    background-color: lightblue;
    margin-bottom: 30px;
}

.project {
    text-align: center;
    padding: 100px;
    opacity: 0;
    transform: translateX(30vh);
    transition: all 1s ease-out;
}

.project.fade-in{
    opacity: 1;
    transform: translateY(0);
}


.footer-container{
    background-color: lightcoral;
    height: 60vh;
}