#intro {
    background-color: lightskyblue;
    padding: 175px;
}


.intro-container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}

#main {
    background-color: lightblue;
    position: relative;
}

.project {
    text-align: center;
    opacity: 0;
    transform: translateX(30vh);
    transition: all 1s ease-out;
}

.project.fade-in{
    opacity: 1;
    transform: translateY(0);
}


.footer-container{
    background-color: lightcoral;
    height: 60vh;
}